.vina{
    display: flex;
    justify-content: space-evenly; /* Mozda naci drugi nacin za centrirati livu i desnu stranu jer glupo je da se zbijaji prema livoj strani, a ako koristim width: 80vw onda je prevelik razmak između "cardova" */
    padding: 70px;
    color: var(--clr-neutral-100);
    overflow: hidden;
    font-weight: 500;
}

.leftcol{
    /* background-color: rgb(48, 43, 43); */
    width: 20vw;
}

/* Desna strana */
.rightcol{
    /* background-color: rgb(53, 53, 53); */
    /* width: 80vw; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 70px;
}

.card{
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 6px;
    background-image: url("/images/vino4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: .3s ease-in-out;
    outline: 2px solid var(--clr-accent-400);
    /* box-shadow: 2px 2px 2px 2px var(--clr-accent-400); */ /* Pronaći šemu za dodati sjenu na ove kartice */
}

.card:hover{
    outline: 2px solid var(--clr-neutral-100)!important;
}

@media (max-width: 1100px){
    .vina{
        flex-direction: column;
    }

    .leftcol{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .rightcol{
        width: 100%;
        gap: 50px;
        align-self: center;
    }

    .card{
        width: 150px;
        height: 150px;
    }
}

@media(max-width: 768px){
    .vina{
        padding: 70px 15px;
    }
    .leftcol{
        justify-content: center;
        gap: 100px
    }
    .rightcol{
       grid-template-columns: 1fr 1fr;
       gap: 50px;
    }
}