.swiper{
    position: relative;
}

.background{
    background-color: var(--clr-background-900);
    background-image: url("/images/pozadina.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mywrapper{
    width: 300px;
    padding: 50px 0px;
    margin-inline: auto;
}

.informacije{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.even-columns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.glavni-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vino{
    width: 100%;
    outline: 2px solid var(--clr-accent-400);
    border-radius: 30px;
    display: flex;
    justify-content: center;
}
.vino .slika{
    width: 220px;
    height: auto;
}

.kategorija{
    color: var(--clr-accent-400);
    font-family: var(--font-montserrat), sans-serif;
    letter-spacing: 1px;
    position: relative;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

.ime{
    font-size: var(--fs-500);
    color: var(--clr-neutral-100);
    font-family: var(--font-metrophobic), sans-serif;
    letter-spacing: 1px;
    margin-top: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.berba{
    font-size: var(--fs-450);
    color: var(--clr-neutral-100);
    font-weight: 300;
    font-family: var(--font-montserrat), sans-serif;
}

.glavni-info:nth-child(n+2){
    line-height: 1px;
}

.opis{
    font-size: 14px;
    text-align: center;
    margin: 20px 0px;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.opislarge{
    display: none;
    text-align: center; 
}

.strelica{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 20px;
    z-index: 1000;
    position: absolute;
    /* width: 25px; */
    font-size: var(--fs-400);
    color: var(--clr-accent-100);
    cursor: pointer;
    transition: .2s ease-out;
}

.strelica:hover{
    color: var(--clr-accent-400);
}

.strelicaright{
    right: 0;
}

.strelicaleft{
    left: 0;
}

.read-more{
    display: none;
    width: 130px;
    cursor: pointer;
    border: 0;
    padding: 10px 16px;
    background: none;
    color: var(--font-color-200);
    border: 2px solid var(--font-color-200);
    border-radius: 8px;
    transition: .2s ease-in-out;
}

.read-more:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    border: 2px solid rgb(255, 255, 255);
    font-weight: var(--fw-bold);
}

@media (min-width: 480px){
    .strelica{
        display: block;
    }

    .mywrapper{
        padding: 50px 50px;
        width: 400px;
    }

    .vino .slika{
        width: 200px;
        height: auto;
    }

    .strelica{
        font-size: var(--fs-550);
    }
}

@media (min-width: 1024px){
    .read-more{
        display: block;
    }
    .informacije{
        align-items: flex-start;
        width: 65%;
    }
    .vino{
        width: 35%;
    }

    .vino .slika{
        width: 250px;
        height: auto;
    }
    .mywrapper{
        width: 1000px;
        padding: 80px 50px;
        margin-inline: auto;
    }
    .glavni-info{
        align-items: flex-start;
    }

    .opis{
        display: none;
    }
    .opislarge{
        display:block;
        text-align: unset;
        margin: 35px 0px;
        width: 100%;

        display: -webkit-box;
        -webkit-line-clamp: 5; /* Number of lines to show */
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .even-columns{
        flex-direction: row;
        gap: 20px;
    }
    .ime{
        font-size: var(--fs-700);
    }
    .berba{
        font-size: var(--fs-450);
    }
    .kategorija{
        font-size: var(--fs-350);
    }
}

@media (min-width: 1300px){
    .mywrapper{
        width: 1200px;
    }
    .vino .slika{
        width: 300px;
        height: auto;
    }

    /* .even-columns{
        gap: 0px;
    } */
}

/* .kategorija:after{
    content: "";
    position: absolute;
    background-color: var(--clr-background-100);
    height: 1px;
    width: 100%;
    bottom: -4px;
    left: 0;
} */

/* @media(min-width: 768px){
    .kategorija:after{
        width: 100%;
    }
} */